*.DS_Store
build
.vscode
LOG
notebook
Malha*
build-release/cmake_install.cmake
build-release/CMakeCache.txt
build-release/CMakeFiles/3.16.3/CMakeCCompiler.cmake
build-release/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
build-release/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
build-release/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
build-release/CMakeFiles/3.16.3/CMakeSystem.cmake
build-release/CMakeFiles/3.16.3/CompilerIdC/a.out
build-release/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
build-release/CMakeFiles/3.16.3/CompilerIdCXX/a.out
build-release/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build-release/CMakeFiles/cmake.check_cache
build-release/CMakeFiles/CMakeDirectoryInformation.cmake
build-release/CMakeFiles/CMakeOutput.log
build-release/CMakeFiles/Makefile.cmake
build-release/CMakeFiles/Makefile2
build-release/CMakeFiles/progress.marks
build-release/CMakeFiles/TargetDirectories.txt
build-release/CTestTestfile.cmake
build-release/DartConfiguration.tcl
build-release/Makefile
build-release/Mixed2D/cmake_install.cmake
build-release/Mixed2D/CMakeFiles/CMakeDirectoryInformation.cmake
build-release/Mixed2D/CMakeFiles/ElasticityH1.dir/build.make
build-release/Mixed2D/CMakeFiles/ElasticityH1.dir/cmake_clean.cmake
build-release/Mixed2D/CMakeFiles/ElasticityH1.dir/depend.make
build-release/Mixed2D/CMakeFiles/ElasticityH1.dir/DependInfo.cmake
build-release/Mixed2D/CMakeFiles/ElasticityH1.dir/flags.make
build-release/Mixed2D/CMakeFiles/ElasticityH1.dir/link.txt
build-release/Mixed2D/CMakeFiles/ElasticityH1.dir/progress.make
build-release/Mixed2D/CMakeFiles/MHMTest.dir/build.make
build-release/Mixed2D/CMakeFiles/MHMTest.dir/cmake_clean.cmake
build-release/Mixed2D/CMakeFiles/MHMTest.dir/depend.make
build-release/Mixed2D/CMakeFiles/MHMTest.dir/DependInfo.cmake
build-release/Mixed2D/CMakeFiles/MHMTest.dir/flags.make
build-release/Mixed2D/CMakeFiles/MHMTest.dir/link.txt
build-release/Mixed2D/CMakeFiles/MHMTest.dir/progress.make
build-release/Mixed2D/CMakeFiles/MixedElasticityFive.dir/build.make
build-release/Mixed2D/CMakeFiles/MixedElasticityFive.dir/cmake_clean.cmake
build-release/Mixed2D/CMakeFiles/MixedElasticityFive.dir/depend.make
build-release/Mixed2D/CMakeFiles/MixedElasticityFive.dir/DependInfo.cmake
build-release/Mixed2D/CMakeFiles/MixedElasticityFive.dir/flags.make
build-release/Mixed2D/CMakeFiles/MixedElasticityFive.dir/link.txt
build-release/Mixed2D/CMakeFiles/MixedElasticityFive.dir/progress.make
build-release/Mixed2D/CMakeFiles/MixedElasticityGirkmann.dir/build.make
build-release/Mixed2D/CMakeFiles/MixedElasticityGirkmann.dir/cmake_clean.cmake
build-release/Mixed2D/CMakeFiles/MixedElasticityGirkmann.dir/depend.make
build-release/Mixed2D/CMakeFiles/MixedElasticityGirkmann.dir/DependInfo.cmake
build-release/Mixed2D/CMakeFiles/MixedElasticityGirkmann.dir/flags.make
build-release/Mixed2D/CMakeFiles/MixedElasticityGirkmann.dir/link.txt
build-release/Mixed2D/CMakeFiles/MixedElasticityGirkmann.dir/progress.make
build-release/Mixed2D/CMakeFiles/MixedElasticityOscillatory.dir/build.make
build-release/Mixed2D/CMakeFiles/MixedElasticityOscillatory.dir/cmake_clean.cmake
build-release/Mixed2D/CMakeFiles/MixedElasticityOscillatory.dir/depend.make
build-release/Mixed2D/CMakeFiles/MixedElasticityOscillatory.dir/DependInfo.cmake
build-release/Mixed2D/CMakeFiles/MixedElasticityOscillatory.dir/flags.make
build-release/Mixed2D/CMakeFiles/MixedElasticityOscillatory.dir/link.txt
build-release/Mixed2D/CMakeFiles/MixedElasticityOscillatory.dir/progress.make
build-release/Mixed2D/CMakeFiles/MixedElasticitySeven.dir/build.make
build-release/Mixed2D/CMakeFiles/MixedElasticitySeven.dir/cmake_clean.cmake
build-release/Mixed2D/CMakeFiles/MixedElasticitySeven.dir/CXX.includecache
build-release/Mixed2D/CMakeFiles/MixedElasticitySeven.dir/depend.internal
build-release/Mixed2D/CMakeFiles/MixedElasticitySeven.dir/depend.make
build-release/Mixed2D/CMakeFiles/MixedElasticitySeven.dir/DependInfo.cmake
build-release/Mixed2D/CMakeFiles/MixedElasticitySeven.dir/flags.make
build-release/Mixed2D/CMakeFiles/MixedElasticitySeven.dir/link.txt
build-release/Mixed2D/CMakeFiles/MixedElasticitySeven.dir/main-seven.cpp.o
build-release/Mixed2D/CMakeFiles/MixedElasticitySeven.dir/meshgen.cpp.o
build-release/Mixed2D/CMakeFiles/MixedElasticitySeven.dir/progress.make
build-release/Mixed2D/CMakeFiles/MixedElasticitySeven.dir/pzmixedelasmat.cpp.o
build-release/Mixed2D/CMakeFiles/MixedElasticitySeven.dir/TPZCompelDiscScaled.cpp.o
build-release/Mixed2D/CMakeFiles/MixedElasticitySeven.dir/TPZMixedElasticityCMeshCreator.cpp.o
build-release/Mixed2D/CMakeFiles/MixedElasticitySeven.dir/TPZMixedElasticityND.cpp.o
build-release/Mixed2D/CMakeFiles/MixedElasticitySeven.dir/TPZMixedElasticityUtils.cpp.o
build-release/Mixed2D/CMakeFiles/MixedElasticitySquare.dir/build.make
build-release/Mixed2D/CMakeFiles/MixedElasticitySquare.dir/cmake_clean.cmake
build-release/Mixed2D/CMakeFiles/MixedElasticitySquare.dir/depend.make
build-release/Mixed2D/CMakeFiles/MixedElasticitySquare.dir/DependInfo.cmake
build-release/Mixed2D/CMakeFiles/MixedElasticitySquare.dir/flags.make
build-release/Mixed2D/CMakeFiles/MixedElasticitySquare.dir/link.txt
build-release/Mixed2D/CMakeFiles/MixedElasticitySquare.dir/progress.make
build-release/Mixed2D/CMakeFiles/progress.marks
build-release/Mixed2D/CMakeFiles/Yotov.dir/build.make
build-release/Mixed2D/CMakeFiles/Yotov.dir/cmake_clean.cmake
build-release/Mixed2D/CMakeFiles/Yotov.dir/CXX.includecache
build-release/Mixed2D/CMakeFiles/Yotov.dir/depend.internal
build-release/Mixed2D/CMakeFiles/Yotov.dir/depend.make
build-release/Mixed2D/CMakeFiles/Yotov.dir/DependInfo.cmake
build-release/Mixed2D/CMakeFiles/Yotov.dir/flags.make
build-release/Mixed2D/CMakeFiles/Yotov.dir/link.txt
build-release/Mixed2D/CMakeFiles/Yotov.dir/main-Yotov.cpp.o
build-release/Mixed2D/CMakeFiles/Yotov.dir/meshgen.cpp.o
build-release/Mixed2D/CMakeFiles/Yotov.dir/progress.make
build-release/Mixed2D/CMakeFiles/Yotov.dir/pzmixedelasmat.cpp.o
build-release/Mixed2D/CMakeFiles/Yotov.dir/TPZCompelDiscScaled.cpp.o
build-release/Mixed2D/CMakeFiles/Yotov.dir/TPZMixedElasticityCMeshCreator.cpp.o
build-release/Mixed2D/CMakeFiles/Yotov.dir/TPZMixedElasticityND.cpp.o
build-release/Mixed2D/CMakeFiles/Yotov.dir/TPZMixedElasticityUtils.cpp.o
build-release/Mixed2D/CMakeFiles/Yotov7.dir/build.make
build-release/Mixed2D/CMakeFiles/Yotov7.dir/cmake_clean.cmake
build-release/Mixed2D/CMakeFiles/Yotov7.dir/CXX.includecache
build-release/Mixed2D/CMakeFiles/Yotov7.dir/depend.internal
build-release/Mixed2D/CMakeFiles/Yotov7.dir/depend.make
build-release/Mixed2D/CMakeFiles/Yotov7.dir/DependInfo.cmake
build-release/Mixed2D/CMakeFiles/Yotov7.dir/flags.make
build-release/Mixed2D/CMakeFiles/Yotov7.dir/link.txt
build-release/Mixed2D/CMakeFiles/Yotov7.dir/main-Yotov7spaces.cpp.o
build-release/Mixed2D/CMakeFiles/Yotov7.dir/meshgen.cpp.o
build-release/Mixed2D/CMakeFiles/Yotov7.dir/progress.make
build-release/Mixed2D/CMakeFiles/Yotov7.dir/pzmixedelasmat.cpp.o
build-release/Mixed2D/CMakeFiles/Yotov7.dir/TPZCompelDiscScaled.cpp.o
build-release/Mixed2D/CMakeFiles/Yotov7.dir/TPZMixedElasticityCMeshCreator.cpp.o
build-release/Mixed2D/CMakeFiles/Yotov7.dir/TPZMixedElasticityND.cpp.o
build-release/Mixed2D/CMakeFiles/Yotov7.dir/TPZMixedElasticityUtils.cpp.o
build-release/Mixed2D/Girkmann.msh
build-release/Mixed2D/Makefile
build-release/Mixed2D/MixedElasticitySeven
build-release/Mixed2D/Yotov
build-release/Mixed2D/Yotov7
build-release/Mixed3_EYotov_tetra_.scal_vec.0.vtk
build-release/Mixed3_EYotov_tetra_.scal_vec.1.vtk
build-release/Mixed3_EYotov_tetra_.scal_vec.2.vtk
build-release/Mixed3_EYotov_tetra_.scal_vec.3.vtk
build-release/Mixed3_EYotov_tetra_.scal_vec.4.vtk
build-release/Mixed3_EYotov_tetra__quad_1_Error.nb
build-release/Mixed3_EYotov_tetra__quad_2_Error.nb
build-release/Mixed3_EYotov_tetra__quad_3_Error.nb
build-release/MixedMixed_EYotov_tetra_Ref1__Sub.scal_vec.0.vtk
build-release/MixedMixed_EYotov_tetra_Ref1__Sub.scal_vec.1.vtk
build-release/MixedMixed_EYotov_tetra_Ref1__Sub.scal_vec.2.vtk
build-release/MixedMixed_EYotov_tetra_Ref1__Sub.scal_vec.3.vtk
build-release/MixedMixed_EYotov_tetra_Ref1__Sub_1_Error.nb
build-release/MixedMixed_EYotov_tetra_Ref1__Sub_2_Error.nb
build-release/MixedMixed_EYotov_tetra_Ref1__Sub_3_Error.nb
Mixed2D/.DS_Store
Mixed2D/mixelas_config.h
MHM-Elas-3D/mesh-generator/__pycache__